build
dist / media
node_modules
.DS_Store

.next
.vercel

# SQLite database - regenerate on each environment
.db
.db-shm
.db-wal

# Environment variables - configure per environment
.env

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
